In [1]:
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
for x in high_schools:
    print(x)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [6]:
import pandas as pd

In [7]:
high_schools_series = pd.Series(high_schools)

In [8]:
high_schools_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [11]:
for x in high_schools_series:
    print(x)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [12]:
high_school_types_df = pd.DataFrame(high_school_types)

In [13]:
high_school_types_df

  High School      Type
0     Griffin  District
1    Figueroa  District
2      Wilson   Charter
3      Wright   Charter

In [15]:
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

school_df =pd.DataFrame()

In [16]:
school_df["School ID"]= school_id

In [17]:
school_df["type"]=type_of_school

In [18]:
school_df["School Name"]= school_name

In [19]:
school_df

   School ID      type            School Name
0          0  District      Huang High School
1          1  District   Figueroa High School
2          2   Charter    Shelton High School
3          3  District  Hernandez High School
4          4   Charter    Griffin High School

In [20]:
school_df.columns

Index(['School ID', 'type', 'School Name'], dtype='object')

In [23]:
school_df.values

array([[0, 'District', 'Huang High School'],
       [1, 'District', 'Figueroa High School'],
       [2, 'Charter', 'Shelton High School'],
       [3, 'District', 'Hernandez High School'],
       [4, 'Charter', 'Griffin High School']], dtype=object)